<ion-header>
  <ion-toolbar class="backMenu">
    <ion-buttons slot="start" class="branco">
      <ion-menu-button>
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo" (click)="navegar('home')">
      WANIPON
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg">
  <div class="wrnmsg">Você receberá notificações dos animes marcados aqui quando tiverem novas atualizações.</div>
<div class="cardanime2" (click)="navegar('animeinfo')"><img src="../../assets/desejos/1.jpg" class="bunequinaqui"/><a class="titanitemp">Demon Slayer</a></div>
<div class="cardanime2" (click)="navegar('animeinfo')"><img src="../../assets/desejos/2.jpg" class="bunequinaqui"/><a class="titanitemp">No Guns Life</a></div>
<div class="cardanime2" (click)="navegar('animeinfo')"><img src="../../assets/desejos/3.jpg" class="bunequinaqui"/><a class="titanitemp">Fate/Grand Order: Absolute Demonic Front - Babylonia</a></div>
<div class="cardanime2" (click)="navegar('animeinfo')"><img src="../../assets/desejos/4.jpg" class="bunequinaqui"/><a class="titanitemp">Vinland Saga</a></div>
<div class="cardanime2" (click)="navegar('animeinfo')"><img src="../../assets/desejos/5.jpg" class="bunequinaqui"/><a class="titanitemp">Sword Art Online:Alicization</a></div>
<div class="cardanime2" (click)="navegar('animeinfo')"><img src="../../assets/desejos/6.jpg" class="bunequinaqui"/><a class="titanitemp">Code Geass</a></div> 
