<ion-header>
    <ion-toolbar class="backMenu">
      <ion-buttons slot="start" class="branco">
        <ion-menu-button>
          <ion-icon ios="ios-more" md="md-more"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title class="titulo" (click)="navegar('home')">
        WANIPON
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="bg">
    <a class="titpag">Animes Anunciados</a><br/>
    <ion-icon name="search" class="icon"></ion-icon><br/><br/>
    <div style="background-color: #252525" (click)="navegar('animeinfo')"><img src="../../assets/animes_anunciados/1.jpg" class="animg"/>
      <a class="titanitemp">Boku no Hero Academia temporada 4</a></div><br/>
      <div style="background-color: #252525" (click)="navegar('animeinfo')"><img src="../../assets/animes_anunciados/2.jpg" class="animg"/>
        <a class="titanitemp">Fairy Gone</a></div><br/>
    <div style="background-color: #252525" (click)="navegar('animeinfo')"><img src="../../assets/animes_anunciados/3.jpg" class="animg"/>
      <a class="titanitemp">Fate/Grand Order: Zettai Majuu Sensen Babylonia</a></div><br/>
      <div style="background-color: #252525" (click)="navegar('animeinfo')"><img src="../../assets/animes_anunciados/4.jpg" class="animg"/>
        <a class="titanitemp">No Guns Life</a></div>
    
  </ion-content>