<ion-content class="bg">
  <ion-label class="filtro">Gênero</ion-label>
  <ion-select multiple="true" class="titanitemp" (ionChange)="changeName($event);">
    <ion-select-option value="acao">Ação</ion-select-option>
    <ion-select-option value="fantasia">Fantasia</ion-select-option>
    <ion-select-option value="sbntrl">Sobrenatural</ion-select-option>
    <ion-select-option value="seinen" >Seinen</ion-select-option>
  </ion-select>
  <ion-label class="filtro">Ano</ion-label>
  <ion-select multiple="true" class="titanitemp" (ionChange)="changeName($event);">
    <ion-select-option value="2016" >2016</ion-select-option>
    <ion-select-option value="2017">2017</ion-select-option>
    <ion-select-option value="2018">2018</ion-select-option>
    <ion-select-option value="2019">2019</ion-select-option>
  </ion-select>
  <ion-label class="filtro">Raças</ion-label>
  <ion-select multiple="true" class="titanitemp" (ionChange)="changeName($event);">
    <ion-select-option value="humanos">Humanos</ion-select-option>
    <ion-select-option value="anoes">Anões</ion-select-option>
    <ion-select-option value="elfos">Elfos</ion-select-option>
    <ion-select-option value="gnomos">Gnomos</ion-select-option>
    <ion-select-option value="meio-elfos">Meio-elfos</ion-select-option>
    <ion-select-option value="meio-orcs">Meio-orcs</ion-select-option>
    <ion-select-option value="halfling">Halfling</ion-select-option>
  </ion-select>
  <ion-label class="filtro">Raças</ion-label>
  <ion-select multiple="true" class="titanitemp" (ionChange)="filtrar($event);" >
    <ion-select-option *ngFor="let i of racas" [value]="i.raca" [selected]="i.selected">{{i.raca}}</ion-select-option>
  </ion-select>
