<ion-header>
  <ion-toolbar class="backMenu">
    <ion-buttons slot="start" class="branco">
      <ion-menu-button>
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo" (click)="navegar('home')">
      WANIPON
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg">
  <a class="titpag">Série Fate</a>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/1.jpg" class="animg"/>
    <a class="titanitemp">Fate/Zero</a></div>
    <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/2.jpg" class="animg"/>
      <a class="titanitemp">Fate/Zero temporada 2</a></div>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/3.jpg" class="animg"/>
    <a class="titanitemp">Fate/Stay Night: Unlimited Blade Works</a></div>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/3.jpg" class="animg"/>
      <a class="titanitemp">Fate/Stay Night: Unlimited Blade Works temporada 2</a></div>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/4.jpg" class="animg"/>
      <a class="titanitemp">Fate/Stay Night: Heaven's Feel filme 1</a></div>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/5.jpg" class="animg"/>
      <a class="titanitemp">Fate/Stay Night: Heaven's Feel filme 2</a></div>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/6.jpg" class="animg"/>
      <a class="titanitemp">Fate/Stay Night</a></div>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/7.jpg" class="animg"/>
      <a class="titanitemp">Fate/Apocrypha</a></div>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/8.jpg" class="animg"/>
      <a class="titanitemp">Fate/Extra: Last Encore</a></div>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/9.jpg" class="animg"/>
      <a class="titanitemp">Lord El-Melloi II Sei no Jikenbo: Rail Zeppelin Grace Note</a></div>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/10.jpg" class="animg"/>
      <a class="titanitemp">Fate/Kaleid liner Prisma Illya</a></div>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/10.jpg" class="animg"/>
      <a class="titanitemp">Fate/Kaleid liner Prisma Illya temporada 2</a></div>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/10.jpg" class="animg"/>
      <a class="titanitemp">Fate/Kaleid liner Prisma Illya temporada 3</a></div>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/10.jpg" class="animg"/>
      <a class="titanitemp">Fate/Kaleid liner Prisma Illya temporada 4</a></div>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/11.jpg" class="animg"/>
      <a class="titanitemp">Today's Menu for the Emiya Family</a></div>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('animeinfo')"><img src="../../assets/aniorder/aniordenado/12.jpg" class="animg"/>
      <a class="titanitemp">Carnival Phantasm</a></div></ion-content>