<ion-header>
    <ion-toolbar class="backMenu">
      <ion-buttons slot="start" class="branco">
        <ion-menu-button>
          <ion-icon ios="ios-more" md="md-more"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title class="titulo" (click)="navegar('home')">
        WANIPON
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="bg">
      <div class="titpag">Contribuir</div>
      <div class="sobre">Ajude os desenvolvedores a comprarem um pãozinho pizza.</div>
      <div class="ctbr">Doar</div>