<ion-header>
  <ion-toolbar class="backMenu">
    <ion-buttons slot="start" class="branco">
      <ion-menu-button>
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo" (click)="navegar('home')">
      WANIPON
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg">
  <a class="titpag">Sugestão de Anime</a><br/>
  <div style="background-color: #252525; margin-top: 4px;" (click)="navegar('list')"><img src="../../assets/sa.jpg" class="animg"><a class="titanitemp">Sankarea</a></div>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <div class="ftmsg">Escolha um anime que você goste como sugestão para as pessoas que estiverem perto da sua localização.</div>