<ion-header>
    <ion-toolbar class="backMenu">
      <ion-buttons slot="start" class="branco">
        <ion-menu-button>
          <ion-icon ios="ios-more" md="md-more"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title class="titulo" (click)="navegar('home')">
        WANIPON
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="bg">
    <a class="titpag">Ajuda</a><br/>
    <div class="bgmsg">Sua mensagem<div class="msg">Hei, menino! Tá faltando dragon ball na lista dos desenho aí!</div></div>
    <div class="bgmsg">Resposta do Desenvolvedor<div class="msg">Negócio de Dragon Ball rapá anime ruim da perte kkkk</div></div>
    <div class="bgmsg">Sua mensagem<div class="msg">Olha a filha da mãe dessa audácia</div></div>